extends ../layout

block content
    h1.
         #{title}
    a(href='/members/new') Novo Membro
   
    ul
        - each member, i in members
            li
                = member.name
                = member.email
                = member.birthday
                = member.phone
                = member.cellphone
                = member._id
                form(action='/members/#{member._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Excluir
                p
                    a(href='/members/#{member._id}/edit') Editar
                p
                    a(href='/members/#{member._id}') Exibir
