doctype html
html
  head
    title= 'Desbravadores JS'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
  body
    block content

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/ember/ember-template-compiler.js')
    script(src='bower_components/ember/ember.debug.js')
    script(src='js/app.js')
